.background {
    background-image: url('project://database/Assets/UI%20Toolkit/Backgrounds/skyboxBG.png?fileID=2800000&guid=e11ca558455678b41a6d8a3866559935&type=3#skyboxBG');
    padding-left: 86px;
    padding-right: 86px;
    padding-top: 86px;
    padding-bottom: 86px;
    flex-grow: 1;
}
